/* Variáveis de cor */
:root {
  /* blue */
  --fist-blue: #4374B5;
  --second-blue: #86BAFF;
  --third-blue: #D2E5FF;
  --fouth-blue: #69b77b;
  --five-blue: #FFE4C9;
  /* black */
  --fist-black: #1e1e1e;
  --second-black: #242424;
  --third-black: #303030; 
  --fourth-black: #818181;
  /* white */
  --fist-white: #ffffff;
  --second-white: #f1f1f1;
  /* outras cores */
  --whatsapp-color: #3BC24D;
  /* Font-size */
  --default-font: 1rem;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: var(--fist-white);
  background-color: var(--fist-black);
}
